@import url(https://db.onlinewebfonts.com/c/9d23cda2fd2a195a8467e0967debd4d3?family=Cera+Round+Pro+Bold);

:root {
    --font: "Cera Round Pro Bold", sans-serif;
    --color-light: #FBF6E2;
}

body {
    font-family: var(--font);
    font-weight: 500;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--color-light);
    background-color: #131842;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 1em;
}

.cell {
    border-style: none;
    font-family: var(--font);
    font-size: 3em;
    border-radius: 0.3em;
    color: #131842;
    background-color: #ECCEAE;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
    border: transparent;
}

.resultDisplay {
    font-size: 1.5em;
}

#start {
    background-color: #E68369;
    color: #131842;
    border-style: none;
    border: solid transparent;
    border-radius: 0.8em;
    cursor: pointer;
    font-family: var(--font);
    font-size: 1.2em;
    letter-spacing: .8px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
}

#restart {
    background-color: #E68369;
    border-style: none;
    border: solid transparent;
    border-radius: 0.8em;
    cursor: pointer;
    padding: 1.5em;
}

.turn {
    background-color: #E68369;
    color: #131842;
    padding: 0.4em;
    font-size: 2em;
    border-radius: 0.2em;
    margin-bottom: 1em;
}

.current-turn {
    background-color: #ECCEAE;
    border-radius: 0.3em;
}

.markers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.markers > * {
    padding: 0.4em;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}