@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --font: "Fredoka", sans-serif;
}

body {
    font-family: var(--font);
    font-weight: 500;
}

h1 {
    font-size: 48px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 6px;
}

.cell{
    font-size: 32px;
}